<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.googleMaps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <permission
        android:name="com.example.googleMaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.googleMaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" 
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".RegisterPage"
            android:label="@string/app_name"
            android:parentActivityName=".Login" >
        </activity>
        
        
        <activity
            android:name=".AlertZone"
            android:label="Alert Zone">
            <intent-filter>
                <action android:name="com.example.googleMaps.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name=".PalMenu"
            android:label="PalHunter Menu">
            <intent-filter>
                <action android:name="com.example.googleMaps.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- friend list  -->
         <activity
            android:name=".ListOfFriends"
            android:label="List Of Friends"
            android:parentActivityName=".PalMenu" >
            

            
             
        </activity>
        
        <!-- search for new friends  -->
         <activity
            android:name=".SearchForFriends"
            android:label="Search For Friends"
            android:parentActivityName=".ListOfFriends" >
            
             
        </activity>

        <activity
            android:name=".AboutDev"
            android:label="About Developres">

        </activity>
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDZ1Lp2m5aUE8h5O6I5L6vTSz1z0_RpChw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>